.titlebox {
  background-color: rgb(62, 101, 108);
  color:rgb(103, 186, 242);
  font-family: 'Kumar One', cursive;
  text-align: center;
}

body {
  background-color: black;
  color: rgb(180, 180, 180);
}

p {
  color:salmon;
  font-family: 'Titillium Web', sans-serif;
  
}

footer a {
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

.mostrecent a {
  text-decoration: none;
  font-family: 'Splash', cursive;
  font-weight: 600;
  /*font-size: larger;*/
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.mostrecent span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.mostrecent span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.mostrecent:hover span {
  padding-right: 25px;
}

.mostrecent:hover span:after {
  opacity: 1;
  right: 0;
}
.randomtext {
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
}
header {
  padding: 5px;
  background-image: url("../images/Fires-wallpaper.jpg");
  background-color: #cccccc;
  background-position: center;
  height: 70px;
  background-size: 100%;
  display: block;
}
header a {
  background-color: rgb(62, 101, 108);
  border: #555;
  border-radius: 8px;
  color: chartreuse;
  padding: 24px 24px;
  text-align: center;
  text-decoration: none;
  font-size: small;
  font-family: 'Kumar One', cursive;
  margin: 0 3px 2px 0;
  transition-duration: 40ms;
  cursor: pointer;
  width: 19.5%;
  min-width: 140px;
  float: left;
}

header a:hover {
  background-color: rgb(62, 212, 149);
  color: rgb(0, 0, 0);
}
/* changes for small devices*/
@media only screen and (max-width: 320px) {
  body {
    background-color: aqua;
    color: black;
  }
  p {
    color: black;
  }

}
/* changes for tablet size devices */
@media only screen and (min-width: 768px) {
  body {
    background-color: rgb(238, 170, 220);
    color: black;
  }
  p {
    color: black;
  }

}
/* changes for higher ppi devices */
@media only screen and (min-width: 1440px) {
  body {
    background-color: rgb(191, 220, 94);
    color: black;
  }
  p {
    color: black;
  }
}



@media only screen and (max-width: 967px) {
  header {
    height: 140px;
  }
}

@media only screen and (max-width: 420px) {
  header {
    height: 290px;
  }
}

/*@media only screen and (min-width: 421px) {
  header {
    height: 140px;
  }
}*/

.displaypic {
  width: 50%;
  /*display: block;*/
  margin-left: 10px;
  margin-right: auto;
  border-radius: 8px;
  float: right;
}

.techexample {
  width: 50%;
  /*display: block;*/
  margin-left: 4px;
  margin-right: auto;
  border-radius: 8px;
  float: right;
}
.examplecode {
  width: 75%;
  padding-top: 5px;
  margin-left: 4px;
  margin-right: auto;
  border-radius: 8px;
  float: inline-end;
}