.titlebox {
  background-color: rgb(105, 105, 105);
  color:chartreuse;
  font-family: monospace;
}

body {
  background-color: black;
  color: rgb(180, 180, 180);
}

p {
  color:salmon;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

