.titlebox {
  background-color: rgb(105, 105, 105);
  color:chartreuse;
  font-family: monospace;
}

body {
  background-color: black;
  color: rgb(180, 180, 180);
}

p {
  color:salmon;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

header button {
background-color: rgb(62, 101, 108);
border: #555;
color: white;
padding: 24px 48px;
text-align: center;
font-size: medium;
margin: 8px 2px;
transition-duration: 40ms;
cursor: pointer;
}

header button:hover {
  background-color: blanchedalmond;
  color: chartreuse;
}